In [1]:
import numpy as np
import pandas as pd
import hashlib
import random
import base64
import string
import datetime
import pytz

In [2]:
alphanum = string.ascii_letters + '0123456789'

In [3]:
total_users = 100000

total_names = 100
total_last_names = 100
total_middle_names = 100

total_groups = 3000

min_tutors = 1
max_tutors = 5

min_students = 0
max_students = 25

min_assignments = 1
max_assignments = 8

min_tasks = 1
max_tasks = 10

min_text = 120
max_text = 1000

average_solved = 2/3.
average_graded = 0.75

average_active = 0.999
average_super_user = 1e-3

In [4]:
names = ["William", "Liam ", "Noah", "Lucas", "Oliver ", "Oscar", "Elias", "Hugo", "Adam", "Alexander ", "Walter", "Axel ", "Leo", "Nils ", "Alfred", "Vincent", "Leon ", "Ludvig ", "Charlie ", "Theo ", "Gabriel", "Filip", "Elliot", "Arvid ", "Isak ", "Harry", "Matteo", "Adrian", "Melvin", "Theodor", "Benjamin", "August", "Mohamed", "Viktor", "Josef ", "Olle ", "Ebbe", "Edvin ", "Loui", "Sam", "Gustav ", "Malte", "Sixten ", "Frank", "Love", "Albin ", "Frans", "Henry", "Erik ", "Viggo ", "Elton", "Emil", "Jack", "Noel ", "Jacob", "Melker", "Vidar", "Milo", "Colin", "Casper ", "Otto", "Carl", "Loke ", "Tage", "Wilmer ", "Max ", "Sigge", "Wilhelm", "Aron", "Milton", "Felix", "Julian", "Alvin", "Anton", "Ivar", "Samuel ", "Kevin", "Nicolas", "Kian", "John ", "Elis ", "Levi", "Hjalmar", "Elvin", "David ", "Jonathan", "Joel", "Ville", "Vilgot", "Daniel ", "Folke", "Ture", "Amir", "Ali", "Vide", "Milian", "Thor", "Omar", "Maximilian ", "Lias"]
surnames = ["SMITH", "JONES", "BROWN", "JOHNSON", "WILLIAMS", "MILLER", "TAYLOR", "WILSON", "DAVIS", "WHITE", "CLARK", "HALL", "THOMAS", "THOMPSON", "MOORE", "HILL", "WALKER", "ANDERSON", "WRIGHT", "MARTIN", "WOOD", "ALLEN", "ROBINSON", "LEWIS", "SCOTT", "YOUNG", "JACKSON", "ADAMS", "TRYNISKI", "GREEN", "EVANS", "KING", "BAKER", "JOHN", "HARRIS", "ROBERTS", "CAMPBELL", "JAMES", "STEWART", "LEE", "COUNTY", "TURNER", "PARKER", "COOK", "MC", "EDWARDS", "MORRIS", "MITCHELL", "BELL", "WARD", "WATSON", "MORGAN", "DAVIES", "COOPER", "PHILLIPS", "ROGERS", "GRAY", "HUGHES", "HARRISON", "CARTER", "MURPHY", "COLLINS", "HENRY", "FOSTER", "RICHARDSON", "RUSSELL", "HAMILTON", "SHAW", "BENNETT", "HOWARD", "REED", "FISHER", "MARSHALL", "MAY", "CHURCH", "WASHINGTON", "KELLY", "PRICE", "MURRAY", "WILLIAM", "PALMER", "STEVENS", "COX", "ROBERTSON", "MISS", "CLARKE", "BAILEY", "GEORGE", "NELSON", "MASON", "BUTLER", "MILLS", "HUNT", "ISLAND", "SIMPSON", "GRAHAM", "HENDERSON", "ROSS", "STONE", "PORTER"]
surnames = [p[0] + p[1:].lower() for p in surnames]

In [5]:
users_raw = [
    [
        ''.join([random.choice(string.ascii_letters)] + [random.choice(alphanum) for i in range(8)]),
        names[min(np.random.zipf(1.4), total_names)-1],
        surnames[min(np.random.zipf(1.4), total_last_names)-1],
        names[min(np.random.zipf(1.4), total_middle_names)-1],
        str(random.getrandbits(12*8)),
        hex(random.getrandbits(12 * 4))[2:],
        np.random.rand() < average_active,
        np.random.rand() < average_super_user,
    ] for i in range(total_users)
]

In [6]:
users_raw = [
    [u[0], u[1], u[2], u[3], hashlib.sha256((u[4] + u[5]).encode('utf-8')).hexdigest(), u[5], u[6], u[7]] for u in users_raw
]

In [7]:
users = pd.DataFrame(users_raw, columns = ['Login', 'Name', 'Last name', 'Middle name', 'Password hash', 'Salt', 'Active', 'SuperUser'])

In [8]:
users

,Login,Name,Last name,Middle name,Password hash,Salt,Active,SuperUser
0,Lc8bxn42I,Gabriel,Tryniski,Elias,00feab9d26402d2e6baf9003b049ae8e6a83b643694c57...,1f574f58caca,True,False
1,UHPhywNp3,Lias,Davis,William,2491641c63503d4f9e73e77a0608beee9f19736810bdd6...,1d67a2c483f,True,False
2,VXyMQnFQY,Oscar,Brown,Liam,1083a76ed0b69f25fef5fa489e2c3a41c3f714e7e2d38a...,ba6223364455,True,False
3,HSTMV7QBm,Axel,Lee,Lias,1512505b3c6f16b47a3ee2e42d1beb9321163bc1d0ad9e...,591d3b1b67c3,True,False
4,IGQku8LvP,William,Jones,William,d3f591acd7f20e35c0d09fdccd69a93ac7914391b59465...,76899c0cb063,True,False
...,...,...,...,...,...,...,...,...
99995,P0aUGmBjv,Liam,White,William,36b343a8080db13e292d8a91743013592c7ac5a93fecbe...,64c534618a9e,True,False
99996,rQ6xWXPET,Ludvig,Smith,Liam,34807a3e2c44c3cc16b56940d60e133be5bd5e8779ab1b...,2da411f54d39,True,False
99997,expAZ3JrL,Noah,John,William,2ca2003f4091abd5c64c7c5439e7d6435f8b5f41e43e1e...,4e526a41e8c3,True,False
99998,Fbnq8CPd7,Noah,Porter,Liam,731017115d15c42ea58b492d16964f162dd6a4cd4797be...,e501ea22f6ce,True,False
99999,ej915zoLZ,William,Williams,Leon,d1961283458eec3ed520af349e9e17d069616d945c89a7...,60fe2dcf4172,True,False

In [9]:
groups_raw = [
    [
        i,
        ''.join([random.choice(string.ascii_letters)] + [random.choice(alphanum) for i in range(8)]),
    ] for i in range(total_groups)
]

In [10]:
groups = pd.DataFrame(groups_raw, columns = ['No', 'Course'])

In [11]:
groups

        No     Course
0        0  r9E8MTSKg
1        1  nyeELnE1r
2        2  id4aOLCh1
3        3  H5R9fDd2Q
4        4  tIAcg7wKU
...    ...        ...
2995  2995  pL1n97IZT
2996  2996  qwGanmLFt
2997  2997  ve2EUA3T3
2998  2998  V5mkzaFO5
2999  2999  WO6Y8CqcV

[3000 rows x 2 columns]

In [12]:
group_user_rel = [
    {
        "students": list(set([users_raw[random.choice(range(total_users))][0] for i in range(random.choice(range(min_students, max_students + 1)))])),
        "tutors": list(set([users_raw[random.choice(range(total_users))][0] for i in range(random.choice(range(min_tutors, max_tutors + 1)))]))
    } for g_i in range(total_groups)
]

In [13]:
assignments = [
    {
        "author": random.choice(group_user_rel[_]["tutors"]),
        "group": group[0],
        "text": ''.join([random.choice(alphanum + ' ,.!?()') for i in range(random.choice(range(min_text, max_text + 1)))]),
        "deadline": np.random.randint(0, 2**31-1)
    } for (_, group) in groups.iterrows() for i in range(random.choice(range(min_assignments, max_assignments + 1)))
]
for i,assignment in enumerate(assignments):
    assignment['ID'] = i

In [14]:
tasks = [
    {
        "assignment ID": _,
        "text": ''.join([random.choice(alphanum + ' ,.!?()') for i in range(random.choice(range(min_text, max_text + 1)))])
    } for (_, assignment) in enumerate(assignments) for i in range(random.choice(range(min_tasks, max_tasks + 1)))
]
for i,task in enumerate(tasks):
    task['task ID'] = i

In [15]:
solutions = [
    {
        "assignment ID" : task["assignment ID"],
        "task ID": task["task ID"],
        "student": student,
        "datetime": np.random.randint(
            assignments[task["assignment ID"]]["deadline"],
            2**31-1)
    } for task in tasks for student in random.sample(group_user_rel[assignments[task["assignment ID"]]["group"]]["students"], int(len(group_user_rel[assignments[task["assignment ID"]]["group"]]["students"]) * average_solved))
]

In [16]:
grades = [
    {
        "grader": random.choice(group_user_rel[assignments[tasks[solution["task ID"]]["assignment ID"]]["group"]]["tutors"]),
        "student": solution["student"],
        "task ID": solution["task ID"],
        "datetime": np.random.randint(
            solution["datetime"],
            2**31-1),
        
    } for solution in random.sample(solutions, int(len(solutions) * average_graded))
]

## Приведение всего к DataFrame

In [17]:
group_user_rel = pd.DataFrame(group_user_rel)
assignments = pd.DataFrame(assignments)
tasks = pd.DataFrame(tasks)
solutions = pd.DataFrame(solutions)
grades = pd.DataFrame(grades)

In [19]:
timezone = pytz.timezone('Europe/Moscow')
assignments['deadline'] = assignments['deadline'].apply(lambda x: datetime.datetime.fromtimestamp(x, timezone))
solutions['datetime'] = solutions['datetime'].apply(lambda x: datetime.datetime.fromtimestamp(x, timezone))
grades['datetime'] = grades['datetime'].apply(lambda x: datetime.datetime.fromtimestamp(x, timezone))

In [20]:
print("Table shapes:")
print(f"\tUsers: {users.shape}")
print(f"\tGroups: {groups.shape}")
print(f"\tGroup/user rel: {group_user_rel.shape}")
print(f"\tAssignments: {assignments.shape}")
print(f"\tTasks: {tasks.shape}")
print(f"\tSolutions: {solutions.shape}")
print(f"\tGrades: {grades.shape}")

Table shapes:
	Users: (100000, 8)
	Groups: (3000, 2)
	Group/user rel: (3000, 2)
	Assignments: (13373, 5)
	Tasks: (73500, 3)
	Solutions: (582774, 4)
	Grades: (437080, 4)

## Создание sql файлов для загрузки данных

### Users

In [21]:
def create_sql_insert(row):
    res_values = []
    for x in row:
        if x == True:
            x = 1
        elif x == False:
            x = 0
        if isinstance(x, datetime.datetime):
            x = str(x)[:-6]
        res_values.append('\'' + str(x) + '\'')
    return f'({",".join(res_values)})'

all_sql_inserts = users.apply(create_sql_insert, axis=1)

In [22]:
batch_size = 128
table_name = 'junk_users'
starting_code = f"""
DROP TABLE IF EXISTS {table_name};

CREATE TABLE IF NOT EXISTS {table_name}
(
    login VARCHAR(40) NOT NULL,
    `name` VARCHAR(120),
    last_name VARCHAR(120),
    middle_name VARCHAR(120),
    password_hash VARCHAR(120),
    password_salt CHARACTER(12),
    active TINYINT(1),
    super_user TINYINT(1),
    PRIMARY KEY(login)
);
"""

with open(f'{table_name}.sql', 'w') as f:
    f.write(starting_code)
    for i in range(0, len(all_sql_inserts), batch_size):
        values = ",\n".join(all_sql_inserts[i:i+batch_size])
        insert_code = f"""INSERT INTO {table_name} VALUES \n{values};\n"""
        f.write(insert_code)

### Groups

In [23]:
all_sql_inserts = groups.apply(create_sql_insert, axis=1)

In [24]:
batch_size = 128
table_name = 'junk_groups'
starting_code = f"""
DROP TABLE IF EXISTS {table_name};

CREATE TABLE IF NOT EXISTS {table_name}
(
    group_key INTEGER NOT NULL,
    discipline VARCHAR(120),
    PRIMARY KEY(group_key)
);
"""

with open(f'{table_name}.sql', 'w') as f:
    f.write(starting_code)
    for i in range(0, len(all_sql_inserts), batch_size):
        values = ",\n".join(all_sql_inserts[i:i+batch_size])
        insert_code = f"""INSERT INTO {table_name} VALUES \n{values};\n"""
        f.write(insert_code)

### Students

In [25]:
all_sql_inserts = []
for i, row in group_user_rel.iterrows():
    for student in row['students']:
        all_sql_inserts.append(f"({i}, '{student}')")

In [26]:
batch_size = 128
table_name = 'junk_students'
starting_code = f"""
DROP TABLE IF EXISTS {table_name};

CREATE TABLE IF NOT EXISTS {table_name}
(
    group_key INTEGER NOT NULL,
    student_login VARCHAR(40) NOT NULL,
    PRIMARY KEY(group_key, student_login)
);
"""

with open(f'{table_name}.sql', 'w') as f:
    f.write(starting_code)
    for i in range(0, len(all_sql_inserts), batch_size):
        values = ",\n".join(all_sql_inserts[i:i+batch_size])
        insert_code = f"""INSERT INTO {table_name} VALUES \n{values};\n"""
        f.write(insert_code)

### Tutors

In [27]:
all_sql_inserts = []
for i, row in group_user_rel.iterrows():
    for tutor in row['tutors']:
        all_sql_inserts.append(f"({i}, '{tutor}')")

In [28]:
batch_size = 128
table_name = 'junk_tutors'
starting_code = f"""
DROP TABLE IF EXISTS {table_name};

CREATE TABLE IF NOT EXISTS {table_name}
(
    group_key INTEGER NOT NULL,
    tutor_login VARCHAR(40) NOT NULL,
    PRIMARY KEY(group_key, tutor_login)
);
"""

with open(f'{table_name}.sql', 'w') as f:
    f.write(starting_code)
    for i in range(0, len(all_sql_inserts), batch_size):
        values = ",\n".join(all_sql_inserts[i:i+batch_size])
        insert_code = f"""INSERT INTO {table_name} VALUES \n{values};\n"""
        f.write(insert_code)

### Assignments

In [29]:
all_sql_inserts = assignments.apply(create_sql_insert, axis=1)

In [30]:
batch_size = 128
table_name = 'junk_assignments'
starting_code = f"""
DROP TABLE IF EXISTS {table_name};

CREATE TABLE IF NOT EXISTS {table_name}
(
    author VARCHAR(40) NOT NULL,
    group_key INTEGER NOT NULL,
    text VARCHAR(1000),
    deadline TIMESTAMP,
    assignment_id INTEGER,
    PRIMARY KEY(assignment_id)
);
"""

with open(f'{table_name}.sql', 'w') as f:
    f.write(starting_code)
    for i in range(0, len(all_sql_inserts), batch_size):
        values = ",\n".join(all_sql_inserts[i:i+batch_size])
        insert_code = f"""INSERT INTO {table_name} VALUES \n{values};\n"""
        f.write(insert_code)

### Tasks

In [31]:
all_sql_inserts = tasks.apply(create_sql_insert, axis=1)

In [32]:
batch_size = 128
table_name = 'junk_tasks'
starting_code = f"""
DROP TABLE IF EXISTS {table_name};

CREATE TABLE IF NOT EXISTS {table_name}
(
    assignment_id INTEGER NOT NULL,
    text VARCHAR(1000),
    task_id INTEGER,
    PRIMARY KEY(task_id)
);
"""

with open(f'{table_name}.sql', 'w') as f:
    f.write(starting_code)
    for i in range(0, len(all_sql_inserts), batch_size):
        values = ",\n".join(all_sql_inserts[i:i+batch_size])
        insert_code = f"""INSERT INTO {table_name} VALUES \n{values};\n"""
        f.write(insert_code)

### Solutions

In [33]:
all_sql_inserts = solutions.apply(create_sql_insert, axis=1)

In [34]:
batch_size = 128
table_name = 'junk_solutions'
starting_code = f"""
DROP TABLE IF EXISTS {table_name};

CREATE TABLE IF NOT EXISTS {table_name}
(
    assignment_id INTEGER NOT NULL,
    task_id INTEGER,
    student VARCHAR(40),
    date TIMESTAMP,
    PRIMARY KEY(assignment_id, task_id, student)
);
"""

with open(f'{table_name}.sql', 'w') as f:
    f.write(starting_code)
    for i in range(0, len(all_sql_inserts), batch_size):
        values = ",\n".join(all_sql_inserts[i:i+batch_size])
        insert_code = f"""INSERT INTO {table_name} VALUES \n{values};\n"""
        f.write(insert_code)

### Grades

In [35]:
all_sql_inserts = grades.apply(create_sql_insert, axis=1)

In [36]:
batch_size = 128
table_name = 'junk_grades'
starting_code = f"""
DROP TABLE IF EXISTS {table_name};

CREATE TABLE IF NOT EXISTS {table_name}
(
    grader VARCHAR(40) NOT NULL,
    student VARCHAR(40),
    task_id INTEGER,
    date TIMESTAMP,
    PRIMARY KEY(grader, task_id, date)
);
"""

with open(f'{table_name}.sql', 'w') as f:
    f.write(starting_code)
    for i in range(0, len(all_sql_inserts), batch_size):
        values = ",\n".join(all_sql_inserts[i:i+batch_size])
        insert_code = f"""INSERT INTO {table_name} VALUES \n{values};\n"""
        f.write(insert_code)