In [14]:
import pandas as pd
from datetime import datetime

# Создание бд (не работает сука)

In [1]:
import os
import pymysql
import sys
f = open('../create_logic.sql')
load_sql = f.read()
print(load_sql)
host = '127.0.0.1'
user = 'user'
password = 'guizeppe'
try:
    con = pymysql.connect(host=host,
                            user=user,
                            password=password,
                            autocommit=True,
                            local_infile=1)
    print('Connected to DB: {}'.format(host))
    # Create cursor and execute Load SQL
    cursor = con.cursor()
    cursor.execute(load_sql)
    print('Succuessfully loaded the table from csv.')
    con.close()
except Exception as e:
    print('Error: {}'.format(str(e)))
    sys.exit(1)

-- MySQL Script generated by MySQL Workbench
-- Tue Dec 10 18:52:12 2019
-- Model: New Model    Version: 1.0
-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema logic
-- -----------------------------------------------------
DROP SCHEMA IF EXISTS `logic` ;

-- -----------------------------------------------------
-- Schema logic
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `logic` DEFAULT CHARACTER SET utf8 ;
USE `logic` ;

-- -----------------------------------------------------
-- Table `logic`.`User`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `logic`.`User` (
  `UserID` INT(11) NOT NULL,
  `FullName` TEXT NOT NULL,
  `e-mail` TEXT NOT NULL,
  `UserStatus` TINYINT(1) NOT NULL,
  PRIMARY KEY (`UserID`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `logic`.`Student`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `logic`.`Student` (
  `StudentID` VARCHAR(45) NOT NULL,
  `GroupID` INT(11) NULL,
  `UserID` INT(11) NOT NULL,
  INDEX `fk_Students_Users_idx` (`UserID` ASC) VISIBLE,
  PRIMARY KEY (`StudentID`, `UserID`),
  CONSTRAINT `fk_Students_Users`
    FOREIGN KEY (`UserID`)
    REFERENCES `logic`.`User` (`UserID`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `logic`.`Group`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `logic`.`Group` (
  `GroupID` INT(11) NOT NULL,
  `GroupName` TEXT NULL,
  `CreatorID` INT(11) NULL,
  PRIMARY KEY (`GroupID`),
  INDEX `fk_Group_User1_idx` (`CreatorID` ASC) VISIBLE,
  CONSTRAINT `fk_Group_User1`
    FOREIGN KEY (`CreatorID`)
    REFERENCES `logic`.`User` (`UserID`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `logic`.`Assignment`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `logic`.`Assignment` (
  `AssignmentID` INT(11) NOT NULL,
  `Description` LONGTEXT NULL,
  `GroupID` INT(11) NOT NULL,
  `DueDate` DATETIME NULL,
  PRIMARY KEY (`AssignmentID`),
  INDEX `fk_Assigmnet_Group1_idx` (`GroupID` ASC) VISIBLE,
  CONSTRAINT `fk_Assigmnet_Group1`
    FOREIGN KEY (`GroupID`)
    REFERENCES `logic`.`Group` (`GroupID`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `logic`.`Task`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `logic`.`Task` (
  `TaskID` INT(11) NOT NULL,
  `AssignmentID` INT(11) NOT NULL,
  `Description` LONGTEXT NULL,
  PRIMARY KEY (`TaskID`),
  INDEX `fk_Task_Course1_idx` (`AssignmentID` ASC) VISIBLE,
  CONSTRAINT `fk_Task_Course1`
    FOREIGN KEY (`AssignmentID`)
    REFERENCES `logic`.`Assignment` (`AssignmentID`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `logic`.`Students`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `logic`.`Students` (
  `StudentID` INT(11) NOT NULL AUTO_INCREMENT,
  `UserID` INT(11) NOT NULL,
  `GroupID` INT(11) NOT NULL,
  INDEX `fk_Participants_Group1_idx` (`GroupID` ASC) VISIBLE,
  INDEX `fk_Participants_User2_idx` (`UserID` ASC) VISIBLE,
  PRIMARY KEY (`UserID`, `GroupID`),
  UNIQUE INDEX `StudentID_UNIQUE` (`StudentID` ASC) VISIBLE,
  CONSTRAINT `fk_Participants_Group1`
    FOREIGN KEY (`GroupID`)
    REFERENCES `logic`.`Group` (`GroupID`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_Participants_User2`
    FOREIGN KEY (`UserID`)
    REFERENCES `logic`.`User` (`UserID`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `logic`.`Submissions`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `logic`.`Submissions` (
  `SubmissionID` INT(11) NOT NULL AUTO_INCREMENT,
  `TaskID` INT(11) NOT NULL,
  `StudentID` INT(11) NOT NULL,
  `Date` DATETIME NOT NULL,
  `Content` LONGTEXT NOT NULL,
  INDEX `fk_Solution_Task1_idx` (`TaskID` ASC) VISIBLE,
  INDEX `fk_Submissions_Participants1_idx` (`StudentID` ASC) VISIBLE,
  PRIMARY KEY (`TaskID`, `StudentID`),
  UNIQUE INDEX `SubmissionID_UNIQUE` (`SubmissionID` ASC) VISIBLE,
  CONSTRAINT `fk_Solution_Task1`
    FOREIGN KEY (`TaskID`)
    REFERENCES `logic`.`Task` (`TaskID`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_Submissions_Participants1`
    FOREIGN KEY (`StudentID`)
    REFERENCES `logic`.`Students` (`StudentID`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `logic`.`Teachers`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `logic`.`Teachers` (
  `TeacherID` INT(11) NOT NULL AUTO_INCREMENT,
  `UserID` INT(11) NOT NULL,
  `GroupID` INT(11) NOT NULL,
  INDEX `fk_Teachers_Group1_idx` (`GroupID` ASC) VISIBLE,
  PRIMARY KEY (`UserID`, `GroupID`),
  UNIQUE INDEX `TeacherID_UNIQUE` (`TeacherID` ASC) VISIBLE,
  CONSTRAINT `fk_Teachers_User1`
    FOREIGN KEY (`UserID`)
    REFERENCES `logic`.`User` (`UserID`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_Teachers_Group1`
    FOREIGN KEY (`GroupID`)
    REFERENCES `logic`.`Group` (`GroupID`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `logic`.`Supervisors`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `logic`.`Supervisors` (
  `SupervisorID` INT(11) NOT NULL AUTO_INCREMENT,
  `TeacherID` INT(11) NOT NULL,
  `SubmissionID` INT(11) NOT NULL,
  INDEX `fk_Supervisors_Submissions1_idx` (`SubmissionID` ASC) VISIBLE,
  UNIQUE INDEX `SupervisorID_UNIQUE` (`SupervisorID` ASC) VISIBLE,
  PRIMARY KEY (`TeacherID`, `SubmissionID`),
  CONSTRAINT `fk_Supervisors_Teachers1`
    FOREIGN KEY (`TeacherID`)
    REFERENCES `logic`.`Teachers` (`TeacherID`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_Supervisors_Submissions1`
    FOREIGN KEY (`SubmissionID`)
    REFERENCES `logic`.`Submissions` (`SubmissionID`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `logic`.`Grades`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `logic`.`Grades` (
  `GradeID` INT(11) NOT NULL,
  `SupervisorID` INT(11) NOT NULL,
  `Grade` INT(11) NOT NULL,
  `Date` DATETIME NOT NULL,
  INDEX `fk_Grades_Supervisors1_idx` (`SupervisorID` ASC) VISIBLE,
  PRIMARY KEY (`GradeID`),
  CONSTRAINT `fk_Grades_Supervisors1`
    FOREIGN KEY (`SupervisorID`)
    REFERENCES `logic`.`Supervisors` (`SupervisorID`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `logic`.`SupervisorComment`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `logic`.`SupervisorComment` (
  `CommentID` INT(11) NOT NULL,
  `SupervisorID` INT(11) NOT NULL,
  `Date` DATETIME NOT NULL,
  `Comment` LONGTEXT NOT NULL,
  PRIMARY KEY (`CommentID`),
  INDEX `fk_SupervisorComment_Supervisors1_idx` (`SupervisorID` ASC) VISIBLE,
  CONSTRAINT `fk_SupervisorComment_Supervisors1`
    FOREIGN KEY (`SupervisorID`)
    REFERENCES `logic`.`Supervisors` (`SupervisorID`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `logic`.`StudentComment`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `logic`.`StudentComment` (
  `CommentID` INT(11) NOT NULL,
  `SubmissionID` INT(11) NOT NULL,
  `Date` DATETIME NOT NULL,
  `Comment` LONGTEXT NULL,
  INDEX `fk_StudentComment_Submissions1_idx` (`SubmissionID` ASC) VISIBLE,
  PRIMARY KEY (`CommentID`),
  CONSTRAINT `fk_StudentComment_Submissions1`
    FOREIGN KEY (`SubmissionID`)
    REFERENCES `logic`.`Submissions` (`SubmissionID`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;

Connected to DB: 127.0.0.1
Error: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;\nSET @OLD' at line 7")

SystemExit: 1

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2890: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

# Загрузка данных

In [2]:
import pymysql
import os
import sys
def csv_to_mysql(file_name, table_name):
    '''
    This function load a csv file to MySQL table according to
    the load_sql statement.
    '''
    
    path = os.path.abspath(os.curdir)
    path = os.path.join(path, file_name)
    load_sql = "LOAD DATA LOCAL INFILE '" + path + "' INTO TABLE " + table_name + " FIELDS TERMINATED BY ',' ENCLOSED BY '" +'"'+"' IGNORE 1 LINES;"
    host = '127.0.0.1'
    user = 'user'
    password = 'guizeppe'
    try:
        con = pymysql.connect(host=host,
                                user=user,
                                password=password,
                                autocommit=True,
                                local_infile=1)
        print('Connected to DB: {}'.format(host))
        # Create cursor and execute Load SQL
        cursor = con.cursor()
        cursor.execute(load_sql)
        print('Succuessfully loaded the table from csv.')
        con.close()
        
    except Exception as e:
        print('Error: {}'.format(str(e)))
        sys.exit(1)


#file_name = 'users.csv'
#csv_to_mysql('users.csv', 'data_vault.Users')

### Loading pure tables

In [3]:
csv_to_mysql('users.csv', 'data.Users')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

In [4]:
csv_to_mysql('groups.csv', 'data.Groups')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

In [5]:
csv_to_mysql('students.csv', 'data.Students')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

In [6]:
csv_to_mysql('teachers.csv', 'data.Teachers')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

In [7]:
csv_to_mysql('assignments.csv', 'data.Assignments')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

In [8]:
csv_to_mysql('tasks.csv', 'data.Tasks')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

In [9]:
csv_to_mysql('submissions.csv', 'data.Submissions')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

In [10]:
csv_to_mysql('supervisors.csv', 'data.Supervisors')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

In [16]:
csv_to_mysql('grades.csv', 'data.Grades')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '1' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '2' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '3' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '4' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '5' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '6' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '7' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '8' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '9' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '10' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '11' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '12' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '13' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '14' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '15' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '16' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '17' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '18' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '19' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '20' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '21' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '22' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '23' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '24' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '25' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '26' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '27' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '28' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '29' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '30' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '31' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '32' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '33' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '34' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '35' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '36' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '37' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '38' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '39' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '40' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '41' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '42' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '43' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '44' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '45' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '46' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '47' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '48' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '49' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '50' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '51' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '52' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '53' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '54' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '55' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '56' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '57' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '58' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '59' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '60' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '61' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '62' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '63' for key 'PRIMARY'")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1062, "Duplicate entry '64' for key 'PRIMARY'")
  result = self._query(query)

In [12]:
csv_to_mysql('student_comments.csv', 'data.StudentsComments')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 55")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 56")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 60")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 130")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 131")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 155")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 156")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 166")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 260")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 289")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 290")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 317")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 318")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 328")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 329")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 333")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 369")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 409")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 410")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 434")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 435")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 447")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 448")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 478")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 479")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 547")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 554")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 555")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 583")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 613")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 614")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 645")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 711")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 725")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 900")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 923")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 924")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 960")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 961")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1006")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1016")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1017")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1041")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1048")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1066")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1222")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1254")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1269")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1274")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1275")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1303")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1304")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1452")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1453")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1495")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1538")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1618")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1636")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1716")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1717")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1752")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1846")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1872")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1877")
  result = self._query(query)

In [15]:
csv_to_mysql('supervisor_comments.csv', 'data.SupervisorsComments')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 22")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 23")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 60")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 61")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 84")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 85")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 162")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 163")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 308")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 309")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 312")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 313")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 486")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 528")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 529")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 551")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 636")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 637")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 815")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 816")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 828")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 834")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 839")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 840")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 876")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 884")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 885")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1021")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1042")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1056")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1057")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1139")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1140")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1249")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1250")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1363")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1451")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1517")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1596")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1603")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1604")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1685")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1686")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1740")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1765")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1766")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1773")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1783")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 1835")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 2010")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 2011")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 2053")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 2072")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 2094")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 2098")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 2139")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 2406")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 2429")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 2430")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 2513")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 2533")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 2548")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 2549")
  result = self._query(query)
/home/dmitry/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'Date' at row 2577")
  result = self._query(query)

In [17]:
csv_to_mysql('users.csv', 'logic.Users')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

In [18]:
csv_to_mysql('groups.csv', 'logic.Groups')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

In [19]:
csv_to_mysql('students.csv', 'logic.Students')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

In [20]:
csv_to_mysql('teachers.csv', 'logic.Teachers')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

In [21]:
csv_to_mysql('assignments.csv', 'logic.Assignment')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

In [22]:
csv_to_mysql('tasks.csv', 'logic.Task')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

In [23]:
csv_to_mysql('submissions.csv', 'logic.Submissions')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

In [24]:
csv_to_mysql('supervisors.csv', 'logic.Supervisors')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

In [25]:
csv_to_mysql('grades.csv', 'logic.Grades')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.